<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://replit.com/public/js/repl-auth-v2.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Club Website Server</h1>
    <p>Welcome to the club website server. This project powers the project submission functionality on the website. You must login to perform certain actions (ie: clearing a project so it shows up or deleting a project from the db).</p>

    <button onclick="LoginWithReplit()">Login</button>
</body>
</html>